/* Comentario aqui no CSS : para estilizar ID usar #
*/

#titulo {
    color:red;
    font-size: 55px;
}

#paragrafo {
     color:blue;
     font-size: 20px;   
     font-weight: bold;

}

#botao {
  background: greenyellow;
}
#outro-botao {
   background: chocolate;
}

/* Para estilizar usando CLASS o comando . ( ponto )
*/

.texto {
   color:rgb(102, 95, 95);
   font-weight:bold;
}

.botao {
   background:rgb(161, 161, 228);
}

/* Podemos tambem concatenar todos exemplo ::after
*/
.texto, .botao, p, #segundo-botao {
color: coral;
}

/*
UNIDADES DE MEDIDAS

-> ABSOLUTAS
    px (pixels) 
    
-> RELATIVAS ( Para sites responsivos 
% calula o tamanho relativo ao elemento pai.
vw ( view width ) 1vw é 1% da largura da janela do navegador.
vh ( view heigth ) 1vh é 1% relativo da largura da janela do navegador.

em é uma unidade relativa ao elemento pai.
rem é uma unidade relativa ao elemento root .
*/
h1 {
    font-size:16px;
}

.vo {}

.pai {
    width: 50vw;
    height: 50vh;
    background: blue;
    color:#ffffff;
    font-size: 32px;

}
.filho {
    width:50%;
    height:50%;
    background: red;
    color:#ffffff;
    font-size: 20px;
}
 